.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blob_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.paragraph {
  color: rgb(0, 0, 0);
  font-size: x-large;
  text-align: center;
  font-weight: lighter;
  padding: 2rem;
}

.icon {
  bottom: 0;
  display: block;
  height: 5rem;
  width: auto;
}

.blob {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 400px;
  max-height: 400px;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blob_shape_1 {
  background-image: url(../../../../assets/blob1.svg);
}

.blob_shape_2 {
  background-image: url(../../../../assets/blob2.svg);
}
.blob_shape_3 {
  background-image: url(../../../../assets/blob3.svg);
}
.blob_shape_4 {
  background-image: url(../../../../assets/blob4.svg);
}
.blob_shape_5 {
  background-image: url(../../../../assets/blob5.svg);
}
