.hero {
  background-image: url(../../../assets/c1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40rem;
  z-index: -1;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header2 {
  color: rgb(209, 3, 255);
  font-family: "Lovers Quarrel", cursive;
  font-size: 6rem;
  text-align: center;
  font-weight: lighter;
  padding: 1rem;
}

.header3 {
  font-family: "Lovers Quarrel", cursive;
  font-size: 4rem;
  text-align: center;
  font-weight: lighter;
  padding: 1rem;
}

.header4 {
  font-family: "Lovers Quarrel", cursive;
  font-size: 4rem;
  font-weight: lighter;
  padding: 1rem;
}

.paragraph {
  line-height: 1.5;
  font-size: large;
  padding: 2rem;
}

.paragraph2 {
  line-height: 1.5;
  font-size: large;
  padding-left: 2rem;
  text-decoration: underline;
}

.list {
  padding-left: 3rem;
  line-height: 2;
}

.btn {
  background: #b834d9;
  background-image: -webkit-linear-gradient(top, #b834d9, #de689d);
  background-image: -moz-linear-gradient(top, #b834d9, #de689d);
  background-image: -ms-linear-gradient(top, #b834d9, #de689d);
  background-image: -o-linear-gradient(top, #b834d9, #de689d);
  background-image: linear-gradient(to bottom, #b834d9, #de689d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 5px 0px 3px #e00be0;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
  margin: 2px;
  width: 300px;
}

.btn:hover {
  background: #fc3cef;
  text-decoration: none;
}

.btnbox {
  max-width: 40rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex-direction: column;
}
