.bg {
  background-image: url(../../../assets/icons/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20rem;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}

.svg {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  margin: 10px;
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  padding: 10px;
  margin: 10px;

  text-align: center;
}
