@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: rgb(240, 202, 238);
  font-family: "Space Grotesk", sans-serif;
}

.spikes {
  position: relative;
  background: rgb(240, 202, 238);
  height: 1vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -50%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(
      135deg,
      rgb(240, 202, 238) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, rgb(240, 202, 238) 25%, transparent 25%);
  background-position: 0 0;
}

.spikes2 {
  position: relative;
  background: #e7b3e5;
  height: 1vh;
}

.spikes2::after {
  content: "";
  position: absolute;
  right: 0;
  left: -50%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #e7b3e5 25%, transparent 25%),
    linear-gradient(225deg, #e7b3e5 25%, transparent 25%);
  background-position: 0 0;
}
