@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: rgb(240, 202, 238);
  font-family: "Space Grotesk", sans-serif;
}

.container {
  position: relative;
  background: rgb(240, 202, 238);
  height: 1vh;
}

.wave {
  position: absolute;
  height: 108px;
  width: 100%;
  background: rgb(240, 202, 238);
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #e7b3e5;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: rgb(240, 202, 238);
  left: -1.5%;
  top: 40%;
}
