.mainbox {
  display: flex;
  background-color: blue;
}

.box {
  height: 40rem;
  width: auto;
  background-color: rgb(164, 164, 205);
}

.img {
  clip-path: ellipse(21% 50% at 50% 50%);
  object-fit: contain;
  height: 30rem;
  margin: 2rem;
}
