.mainbox {
  display: flex;
}

.box {
  height: 40rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.img {
  clip-path: ellipse(23% 50% at 50% 50%);
  object-fit: contain;
  height: 80%;
}
