.background {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.two_cards_box {
  display: flex;
}

.one_card_box {
  min-width: 350px;
  flex: 1;
  height: 40rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(101, 6, 152, 0.5);
  margin: 2rem;
  background-color: #e7b3e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

@media (max-width: 950px) {
  .two_cards_box {
    flex-direction: column;
  }
  .one_card_box {
    max-width: 600px;
  }
}

.one_card_box img {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.one_card_box button {
  background: #b834d9;
  background-image: -webkit-linear-gradient(top, #b834d9, #de689d);
  background-image: -moz-linear-gradient(top, #b834d9, #de689d);
  background-image: -ms-linear-gradient(top, #b834d9, #de689d);
  background-image: -o-linear-gradient(top, #b834d9, #de689d);
  background-image: linear-gradient(to bottom, #b834d9, #de689d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 5px 0px 3px #e00be0;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.one_card_box button:hover {
  background: #fc3cef;
  text-decoration: none;
}

.separator {
  flex: 1;
}

.header2 {
  color: rgb(191, 0, 255);
  font-size: 6em;
  text-align: center;
  font-weight: lighter;
  filter: drop-shadow(0 0 0.75rem rgba(246, 74, 234, 0.7));
  font-family: "Lovers Quarrel", cursive;
}

.card_text h2 {
  padding: 1rem;
  font-weight: lighter;
  font-size: 4rem;
  text-align: center;
  font-family: "Lovers Quarrel", cursive;
  filter: drop-shadow(0 0 0.75rem rgba(246, 74, 234, 0.7));
}

.card_text p {
  padding: 2rem;
}
