.box1 {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}

.box2 {
  display: flex;
}

.box3 {
  width: 50%;
  height: 40rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(25, 1, 38, 0.5);
  margin: 2rem;
  margin-top: 5rem;
}

.box3 img {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.header {
  color: rgb(191, 0, 255);
  font-size: 3em;
  text-align: center;
  font-weight: lighter;
  filter: drop-shadow(0 0 0.75rem rgba(246, 74, 234, 0.7));
}
