.hero {
  background-image: url(../../../../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 40rem;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.hero h1 {
  color: rgb(209, 3, 255);
  font-family: "Lovers Quarrel", cursive;
  font-size: 6rem;
  text-align: center;
  font-weight: lighter;
}

@media (max-width: 1000px) {
  .hero h1 {
    padding-bottom: 10rem;
  }
}
