.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.1rem 1rem 0rem 1rem;
}

.accordion {
  background: rgb(56, 4, 93);
  background: linear-gradient(
    90deg,
    rgba(56, 4, 93, 1) 0%,
    rgba(187, 0, 133, 1) 100%
  );
  margin: 0.2rem;
  color: white;
}

.accordion_row {
  font-size: 20px;
}

.header2 {
  font-size: 6em;
  text-align: center;
  font-weight: lighter;
  filter: drop-shadow(0 0 0.75rem rgba(246, 74, 234, 0.7));
  font-family: "Lovers Quarrel", cursive;
  margin-bottom: 2rem;
}
